# pycharm
.idea

# VS Code
.vscode/
.history/


# python
.env
.venv
__pycache__
__pycache__/
*.py[cod]
*$py.class
scripts/__pycache__/


# allure
allure-results
allure-report
history.jsonl

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

# Egg/Script directories
*.egg-info/
.eggs/
*.egg
build/
dist/

node_modules



/gh-pages/

.continue/
.hermes/
in-memoria.db
in-memoria-vectors.db/
.serena/
memory-bank/
.continue/
.gigacode/